*{
font-family:"Poppins" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.image-logo{
    width: 595.178px;
    height: 500.005px;
    margin-left: 121px;
    margin-top: 163px;
    display: inline-block;    
}

header{
    margin: 47px 0 20px 42px;

}

.link-header{
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    font-size: 14px;
    margin-right: 32px;
    color: #17233D;
}

.link-button{
    width: 124px;
    height: 51px;
    border-radius: 6px;
    background: #6FBF44;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFF;
}

section{
    display: inline-block;
    margin-left: 85px;
     width: 493px;
     
}
h1{
    width: 582px;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    color: #161A49;
}

p{
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
    margin-top: 47px;
}

.link-main{
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
@media screen and (max-width:900px){

    *{margin: 0;
        box-sizing: border-box;
    }
    
    
    header{
    display:none;

}

section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.image-logo{
    margin:0 50px;
    
  
}

}